html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#body {
    height: 100%;
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

.clear {
    clear: both;
}