@model IEnumerable<WebApplication.Models.LocationModel>

@{
    ViewBag.Title = "All";
}

@section scripts{
<script>
    var addLocationKendoWindow;
    $(document).ready(function () {
        addLocationKendoWindow = $("#addLocationWindow").kendoWindow({
            width: "500px",
            title: "Add new location",
            actions: [
                "Close"
            ]
        }).data("kendoWindow");

        $("#addLocationLink").click(function () {
            addLocationKendoWindow.open();
            addLocationKendoWindow.center();
        });
    });
</script>
}

<div id="addLocationWindow" style="display: none;">
    @using (Html.BeginForm("Add", "Locations"))
    {
        <label for="customer">CUSTOMER:</label>
        <input id="customer" type="text" style="width: 90%" name="Customer" />
        <label for="visit">VISIT:</label>
        <textarea id="visit" rows="3" style="width: 90%" name="Description" ></textarea>
        <label for="address">ADDRESS:</label>
        <textarea id="address" rows="3" style="width: 90%" name="Address"></textarea>
        <label for="customer">VISIT TIME:</label>
        <input id="visitTime" type="text" style="width: 90%" name="VisitTime" />
        <input type="submit" value="Add location">
        <button onclick="addLocationKendoWindow.close();return false;">Cancel</button>
    }
</div>

<div class="page-header">
    <h1>Locations</h1>
</div>

<button id="addLocationLink">Add location</button>
<button>Plan routes</button>

<table>
    <tr>
        <td>VISIT DESCRIPTION</td>
        <td>ADDRESS</td>
        <td>CONTACT</td>
        <td>VISIT TIME</td>
    </tr>
    @{
        foreach (var task in Model)
        {
        <tbody>
            <tr>
                <td>@task.Description</td>
                <td>@task.Address</td>
                <td>@task.Customer</td>
                <td>@task.VisitTime minutes</td>
            </tr>
        </tbody>
        }
    }
</table>