@{
    ViewBag.Title = "Home Page";
}

<div class="main-pages">
    <section class="one-page-section page-1">
        <h1>
            <p>When you say</p>
            <p>"On time"</p>
            <p>do really mean it</p>
        </h1>
    </section>
    <section class="one-page-section page-2">
        <img />
        <h2>Fashionably late is so last season</h2>
        <p>We beleive in efficiency and will plot your route in a way that will
            surprise even the most experienced of drivers. We will even take into consideration the idle time.
        </p>
    </section>
    <section class="one-page-section page-3">
        <img />
        <h2>Cloudy is not a bad thing</h2>
        <p>Powered by the cloud, 13am will keep you always up to date with the progress of your visit.</p>
    </section>
    <section class="one-page-section page-4">
        <h2>Endless waiting no more</h2>
        <p>We value time. We let your customers always know when you are about to arrive. We will even remind them of your visit.</p>
        <button></button>
        <img />
    </section>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            $(".main-pages").onepage_scroll({
                sectionContainer: ".one-page-section", 
                easing: "ease",
                animationTime: 1000,
                pagination: true,
                updateURL: false
            });
        });
    </script>
}