@{
    ViewBag.Title = "Home Page";
}

<div class="main-pages">
    <section class="one-page-section page-1">
        <h1>
            <p>13am organizes your</p>
            <p>service business</p>
            <p>and helps your field</p>
            <p>staff deliver. On time.</p>
        </h1>
    </section>
    <section class="one-page-section page-2">
        <div>
            <img src="~/Content/Images/Route.png" />
            <h2>Fashionably late is so last season</h2>
            <p>Scheduling and managing multiple visits to clients can be challenging</p>
            <p>since many things can go wrong. 13am will optimize your employees’</p>
            <p>daily itinerary and will help them easily find their next client address.</p>
            <p>Right on time.</p>
        </div>
    </section>
    <section class="one-page-section page-3">
        <div class="d-wrapper">
            <img src="~/Content/Images/PhoneH.png" />
            <div>
                <h2>All your people need is a phone</h2>
                <p>13am allows your people to view</p>
                <p>their itinerary while on the road</p>
                <p>and instantly learn</p>
                <p>about cancelled or new appointments.</p>
                <br />
                <p>The in-built driving directions</p>
                <p>will help them easily and quickly</p>
                <p>navigate to their next client’s door.</p>
            </div>
        </div>
        <br class="clear" />
    </section>
    <section class="one-page-section page-4">
        <div class="p-wrapper">
            <div>
                <h2>
                    Endless waiting 
                    <br />
                    no more
                </h2>
                <p>We value time. We let your</p>
                <p>customers always know when you</p>
                <p>are about to arrive. We will even</p>
                <p>remind them of your visit.</p>
                <a class="blue-button">Try it now for free</a>
            </div>
            <img src="~/Content/Images/Phone.png" />
        </div>
        <br class="clear" />
    </section>
    <section class="one-page-section page-5">
        <div>
            <img src="~/Content/Images/Cloud.png" />
            <h2>Cloudy is not a bad thing</h2>
            <p>Get started in no time and manage everything in the cloud.</p>
            <p>13am combines the rich functionality of an enterprise solution</p>
            <p>with the hassle-free experience of a cloud service.</p>
        </div>
    </section>
    <section class="one-page-section page-6">
        <div>
            <h2>Free for the first three</h2>
            <p>We like our service so much that we are making it completely free</p>
            <p>for your first three members of your mobile staff. Forever.</p>
            <img src="~/Content/Images/People.png" />
        </div>
    </section>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".main-pages").onepage_scroll({
                sectionContainer: ".one-page-section",
                easing: "ease",
                animationTime: 1000,
                pagination: true,
                updateURL: false
            });
        });
    </script>
}